body {
  font-family: 'Roboto', sans-serif;
}

.notfound-section, .main-section {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-image: url("../image/banner.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 30%;
}

.notfound-section{
  background-image: url("../image/notfound.png");
}